<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.SSF.Community.Mapper.MemberMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member(uid,pw,email,phone,grade,address,name,role,enabled,date)
        values (#{uid},#{pw},#{email},#{phone},
                #{grade},#{address},#{name},#{role}
                ,#{enabled},#{date});
    </insert>
    <update id="update">
        UPDATE member SET pw=#{dpw} WHERE uid=#{member.uid};
    </update>
    <delete id="delete">
        DELETE FROM member WHERE uid=#{uid};
    </delete>
    <select id="findAll"  resultType="flab.SSF.Community.domain.Member">
        select * from member;
    </select>
    <select id="findById" parameterType="String" resultType="flab.SSF.Community.domain.Member">
        select * from member WHERE uid=#{uid};
    </select>
    <select id="findByEmail" parameterType="String" resultType="flab.SSF.Community.domain.Member">
        select * from member WHERE email=#{email};
    </select>
    <select id="selectEnabled" resultType="flab.SSF.Community.domain.Member">
        select * from member WHERE enabled='y';
    </select>
    <select id="login" resultType="flab.SSF.Community.domain.Member">
        select * from member WHERE uid=#{uid} AND pw=${pw};
    </select>

</mapper>